<% include partials/head %>

<div class ="blok1 container-fluid">
  <h1 class ="container" > THROUGH THE EYES OF A FEMALE TECHIE</h1>
   <!-- <img src="/coffee.jpg" class="img-fluid" alt="Sample photo"> -->
</div> 

<header class="container-fluid">

<!-- <div class ="container-fluid">
  <h1  class="container" > THROUGH THE EYES OF A FEMALE TECHIE</h1>
   <img src="/office_4-t2.jpg" class="img-fluid" alt="Sample photo">
</div> 
-->
  <!-- Brand -->
<!-- <h1>  Learn To Trade Options </br> Take Your Investing To Another Level</h1> -->
<!-- <img src="/geek_glasses.jpg" id="bg-girl" alt="Sample photo"> -->

<nav class="navbar navbar-expand-md navbar-dark " id="navStyle">
    
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
 <a class="navbar-brand" id="brandStyling" href="#">Cynthia Crafter | Software Developer</a>
 <div class="collapse navbar-collapse" id="nav-content">                
      <ul class="navbar-nav nav nav-pills justify-content-end">
          <li class="nav-item">
              <a class="nav-link active bg-success" href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/Training.html"> Projects</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " href="/newPost"> Admin</a>
          </li>
          <li class="nav-item">
          <li class="nav-item">
              <a class="nav-link" href="/About.html">About Me</a>
          </li>
      </ul>
 </div>
  </nav>
</header>

<div class="container-fluid">
<div class="row">
<div class="col-md-1"></div>  
<div class="col-md-7" id="first-column" >
      
 
  <article class="mainArticle">
      <h5> <small> <%= allPosts[0].pubDate %> </small></h5><br>
      <h2><a href="/codecamp.html">Cynthia Goes To Camp...Coding Bootcamp That Is...</a></h2>
      <p>
        <%= allPosts[0].content %> 
<a href="/myprofile" class="btn btn-secondary  btn-md" role="button">Read More</a>
         
      </p>
     
  </article >
   <article class="mainArticle">
      <h2>Future Post 1</h2>
      <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget luctus arcu, pulvinar consectetur lacus. Phasellus auctor sagittis mauris, sit amet bibendum lacus pharetra vestibulum. Praesent ac tortor non risus sollicitudin consectetur. Duis eu nulla arcu. Phasellus in efficitur libero. Duis pulvinar lacus risus, id tempor risus scelerisque ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum sit amet metus ut nulla bibendum rutrum. Mauris placerat eleifend feugiat. Duis condimentum quam et lorem hendrerit ultrices. Suspendisse tempus nunc in orci faucibus, et viverra lacus mattis. Pellentesque nunc tellus, varius molestie porttitor a, gravida a dui. Maecenas eget dolor et ante faucibus lobortis et eget urna
      </p>
  </article >
  <article class="mainArticle">
      <h2>Future Post 2</h2>
      <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget luctus arcu, pulvinar consectetur lacus. Phasellus auctor sagittis mauris, sit amet bibendum lacus pharetra vestibulum. Praesent ac tortor non risus sollicitudin consectetur. Duis eu nulla arcu. Phasellus in efficitur libero. Duis pulvinar lacus risus, id tempor risus scelerisque ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum sit amet metus ut nulla bibendum rutrum. Mauris placerat eleifend feugiat. Duis condimentum quam et lorem hendrerit ultrices. Suspendisse tempus nunc in orci faucibus, et viverra lacus mattis. Pellentesque nunc tellus, varius molestie porttitor a, gravida a dui. Maecenas eget dolor et ante faucibus lobortis et eget urna
      </p>
  </article>

</div>


  <div class="col-md-3" id="test-column">
      <h2 >Recent Posts</h2>
       <div class="list-group postspacing">
           <a href="#" class="list-group-item">Cynthia Goes To Camp--Bootcamp That Is...</a>
           <a href="#" class="list-group-item">CLC Future Post 1</a>
           <a href="#" class="list-group-item">CLC Future Post 2</a>
      </div> 
      <h2 >Popular Posts</h2>
       <div class="list-group">
           <a href="#" class="list-group-item">Cynthia Goes To Camp...Bootcamp That Is...</a>
           <a href="#" class="list-group-item">CLC Future Post 1</a>
           <a href="#" class="list-group-item">CLC Future Post 2</a>
       </div> 
       <!-- <div class="col-md-1"></div>  -->


</div>
</div>



<% include partials/foot %>