
 html, body {
  height: 100%;
  width: 100%;

 
} 

p{
    padding: 10px 10px 10px 10px;
    line-height: 170%;
    margin: 2.5rem;
}


#first-column {
    background-color: whitesmoke;
      padding: 20px 50px 20px 50px;  
    /* margin-left: 2rem; */
   
}
#second-column{
    background-color: lightblue;
    margin:.5rem;
}

#test-column{
    /* margin-left: 1rem; */
    
    padding:20px;
    background-color: darkolivegreen;
    color: whitesmoke;
}

.postspacing{
    padding-bottom:70px;
}

#navStyle{
    color: whitesmoke;
    background-color: black;
      margin-bottom: 2.0rem;  
    
}

  .blok1 {
  /* background-image:url(/office_4-t2.jpg); */
  /* background-image:url(/geek_glasses.jpg); */
   /* background-position: top center;  */
   background-image:url(/images/ladydesktop.jpg); 
    background-repeat: repeat-x;  
    background-size:cover;  
   /* margin-bottom:1rem; */
    padding-top: 2rem;   
     height: 35%; 
   

  /* background-size: cover; */
  /* height: 30px; */
}
.blok1 h1{
    display: block;
    background-color: grey;
    color:lightgray;
    font-stretch: extra-expanded;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 2rem;
    padding: 0 0 0 0;
    text-align: center;
     margin-top: 5rem; 
}

/* margin-top: 5rem; */


 a, h2, h5{
    font-family: cursive;
}
a{
    color: black;
}

a:hover{
    color:darkgray;
}



#first-column h2{
      color:black; 
}

/* .adjtop
{
    margin-top:50px;
} */

/* .clsGlasses */
#brandStyling
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
body {
    /* background-image:url("/purple_pumps.jpg"); */

    font-family: Arial, Helvetica, sans-serif;
      background-color:wheat;    
    /* margin: auto;    */
}
footer{
    margin-top:1.5rem;
}


